.feynman__title {
  width: 648px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}
