/* ---------- Page ---------- */

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* ----------- Header --------- */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
  background-size: cover;
}

.header__title {
  max-width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;
  z-index: 1;
}

.header__subtitle {
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
}

/* ---------- Main ------ Description--------- */

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief_title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  min-width: 175px;
  margin-right: 100px;
  color: #2f80ed;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text {
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}

/* -------- Main ------- Digits ------ */

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
}

.table__text_copyright {
  display: block;
  margin-top: 20px;
}

/* ---------Main ----- Feynman ------- */

.feynman {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  min-height: 790px;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}

.feynman__subtitle {
  margin-bottom: 0;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* -------- Main ------- Kaufman ------- */

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #1f1f1f;
  color: #fff;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
}

/* ------- Main ------- Dark Theme ------ */

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

/* -------Footer -------- */

.footer {
  display: flex;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__column-heading {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-item {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__column-links {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer__column-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
